{% extends 'base.html' %}

{% block title %}
Blogpost
{% endblock %}

{% block body %}

      <div class="d-grid gap-3">
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h2 class="card-title">{{posts.title}}</h2>
                  <h5> Author </h5>
                  <p class="card-text">{{posts.content}}</p>
                </div>
              </div>
        </div>

        <div><h3 class = "text-white mx-5">Comments</h3></div>


        <div class="p-2 bg-dark text-white mx-5" data-bs-theme="dark">
          <div class="card bg-secondary text-white" data-bs-theme = "dark">
          <div class="card-body">

        <form>
        <div class="mb-3">
          <label for="exampleInputComment1" class="form-label text-white">Add new comment</label>
          <input type="text" class="form-control" id="exampleInputComment1" placeholder="Enter comment here">
        </div>
        <button type="submit" class="btn btn-primary mb-1">Submit</button>
      </form>
    </div>
  </div>
</div>

        {%for comment in comments%}
        <div class="p-2 bg-dark text-white mx-5" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h5> Comment author </h5>
                  <p class="card-text">{{comment.content}}</p>
                </div>
              </div>
        </div>
        {% endfor %}
      </div>

</div>



{% endblock %}