{% extends 'base_light.html' %}

{% block title %}
Blogpost
{% endblock %}

{% block body %}


{% for message in get_flashed_messages() %}
<center>
<div class="alert alert-warning alert-dismissible fade show mt-3 mx-3" role="alert" style="width:40%;">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</center>
{% endfor %}

      <div class="d-grid gap-3">
        <div class="p-2 text-white mx-5 mt-3">
            <div class="card bg-info-subtle text">
      
                <div class="card-body">
                  <h3 class="card-title">{{posts[2]}}</h2>
                  <a href="{{posts[4]}}" class = "text-dark">By {{posts[4]}}</a>

                  <p class="card-text">{{posts[3]}}</p>
                  <form method="post">
                  <button  type="submit" name="hindi" class="btn btn-info mb-1 opacity-50">Hindi</button>
                  <button  type="submit" name="english" class="btn btn-info mb-1 opacity-50">Back to Original</button>
                  <button  type="submit" name="read_aloud" class="btn btn-info mb-1 opacity-50">Read Aloud</button>
                  </form>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                 
                    {%if session['username']%}
                    <form method="post">
                    <button type="submit" name="upvote" class="btn btn-link text-dark ">Upvotes({{posts[5]}})</button>
                    <button type="submit" name="downvote" class="btn btn-link text-dark">Downvote({{posts[6]}})</button>
                    <!-- <button type="button" name="follow" class="btn btn-link">Follow</button> -->
                  </form>
                    {%else%}
                    <button onclick="location.href='/login'" type="submit" name="upvote" class="btn btn-link text-dark">Upvotes({{posts[5]}})</button>
                    <button type="submit" name="downvote" class="btn btn-link text-dark">Downvote({{posts[6]}})</button>
                    <!-- <button type="button" name="follow" class="btn btn-link">Follow</button> -->
                    {%endif%}
                  
                    {%if session['username'] and session['username'] == posts[4]%}
                    <form method="post">
                    <button type="submit" name="delete" class="btn btn-link">Delete post</button>
                  </form>
                    {%else%}
                    {%endif%}
                  </div>
                </div>
              </div>
        </div>


        <div><h3 class = "text-white mx-5">Comments</h3></div>


        <div class="p-2 text mx-5">
          <div class="card bg-info-subtle text">
          <div class="card-body">
        {%if session['username']%}
        <form method="post">
        <div class="mb-3">
          <label for="exampleInputComment1" class="form-label text">Add new comment</label>
          <input type="text" class="form-control" id="exampleInputComment1" placeholder="Enter comment here" name="content"></input>
        </div>
        <button type="submit" class="btn btn-info mb-1 opacity-50">Submit</button>
        </form>
        {%else%}
        <div class="mb-3">
          <label for="exampleInputComment1" class="form-label text">Add new comment</label>
          <input type="text" class="form-control" id="exampleInputComment1" placeholder="Enter comment here" name="content"></input>
        </div>
        <button onclick="location.href='/login'" type="submit"  class="btn btn-info mb-1 opacity-50">Submit</button>
        {%endif%}
    </div>
  </div>
</div>

        {%for comment in comments%}
        <div class="p-2 bg text-white mx-5">
            <div class="card bg-info-subtle text" >
      
                <div class="card-body">
                  <h5> {{comment[4]}}  </h5>
                  <p class="card-text">{{comment[3]}}</p>
                  {%if session['username'] and session['username'] == comment[4]%}
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <form method="post">
                    <button type="submit" name="delete_comment" value="{{comment[0]}}" class="btn btn-link">Delete comment</button>
                  </form>
                  </div>
                  {%else%}
                  {%endif%}


                </div>
              </div>
        </div>
        {% endfor %}
      </div>




{% endblock %}