{% extends 'base.html' %}

{% block title %}
<title> By author </title>
{% endblock %}

{% block body %}


{% for message in get_flashed_messages() %}
<center>
<div class="alert alert-warning alert-dismissible fade show mt-3 mx-3" role="alert" style="width:40%;">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</center>
{% endfor %}

      <center>
        <div>
          <h2 class="text-white mt-3 mb-3">About the Author</h2>

          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px;"
          alt="Avatar" />
          
          <h5 class="mb-2 text-white"><strong>{{username}}</strong></h5>
          <p class="text-white">Web designer</p>
        </div>



      <div class = "text-white mt-5">

        <button class="btn btn-primary mb-5" type="submit">Follow {{username}}</button>
        
        <h2>Blogs by the Author</h2>
      </div>
    </center>
    {%for blog in blogs%}
      <div class="d-grid gap-3">
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h3 class="card-title">{{blog[2]}}</h3>
                  <h6> {{blog[4]}} </h6>
                  <p class="card-text">{{blog[3]}}</p>
                  <a href="{{blog[0]}}" class="btn btn-primary">Read full post</a>
                </div>
              </div>
        </div>
      
        
      </div>
      {%endfor%}
{% endblock %}
