{% extends 'base.html' %}

{% block title %}
<title> By author </title>
{% endblock %}

{% block body %}

      <center>
        <div>
          <h2 class="text-white mt-3 mb-3">About the Author</h2>

          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px;"
          alt="Avatar" />
          
          <h5 class="mb-2 text-white"><strong>{{username}}</strong></h5>
          <p class="text-white">Web designer</p>
        </div>



      <div class = "text-white mt-5">
        <h2>Blogs by the Author</h2>
      </div>
    </center>
    {%for blog in blogs%}
      <div class="d-grid gap-3">
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h3 class="card-title">{{blog.title}}</h3>
                  <h6> {{blog.author}} </h6>
                  <p class="card-text">{{blog.content}}</p>
                  <a href="{{blog.id}}" class="btn btn-primary">Read full post</a>
                </div>
              </div>
        </div>
      
        
      </div>
      {%endfor%}
{% endblock %}
