{% extends 'base_light.html' %}

{% block title %}
Following
{% endblock %}

{% block body %}


{% for message in get_flashed_messages() %}
<center>
<div class="alert alert-warning alert-dismissible fade show mt-3 mx-3" role="alert" style="width:40%;">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</center>
{% endfor %}

      <center>
      <div class = "text-white mt-5">
        <h2> Blogs by authors you follow </h2>
        <h6> Check the 'My Profile' tab to see the full list of authors you follow. </h6>
      </div>
    </center>

      <div class="d-grid gap-3">
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h3 class="card-title">Blog Title</h3>
                  <h6> Author </h6>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum....</p>
                  <a href="#" class="btn btn-primary">Read full post</a>
                  <br>

                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-link">Upvote (21)</button>
                    <button type="button" class="btn btn-link">Downvote (12)</button>
                    <button type="button" class="btn btn-link">Follow</button>
                    <button type="button" class="btn btn-link">Delete post</button>
                  </div>

                </div>
              </div>
        </div>
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
      
                <div class="card-body">
                  <h3 class="card-title">Blog Title</h3>
                  <h6> Author </h6>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum....</p>
                  <a href="#" class="btn btn-primary">Read full post</a>
                  <br>

                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-link">Upvote (21)</button>
                    <button type="button" class="btn btn-link">Downvote (12)</button>
                    <button type="button" class="btn btn-link">Follow</button>
                    <button type="button" class="btn btn-link">Delete post</button>
                  </div>

                </div>
              </div>
        </div>
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark"><div class="card bg-secondary text-white" data-bs-theme = "dark">
      
            <div class="card-body">
              <h3 class="card-title">Blog Title</h3>
              <h6> Author </h6>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum....</p>
              <a href="#" class="btn btn-primary">Read full post</a>
              <br>

              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-link">Upvote (21)</button>
                <button type="button" class="btn btn-link">Downvote (12)</button>
                <button type="button" class="btn btn-link">Follow</button>
                <button type="button" class="btn btn-link">Delete post</button>
              </div>

            </div>
          </div></div>
      </div>

{% endblock %}
