{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
{% for post in posts %}
<div class="d-grid gap-3">
        <div class="p-2 bg-dark text-white mx-5 mt-3" data-bs-theme="dark">
            <div class="card bg-secondary text-white" data-bs-theme = "dark">
                <div class="card-body">
                  <h3 class="card-title">{{post.title}}</h3>
                  <!-- <h6>{{post.id}}</h6> -->
                  <p class="card-text">{{post.content}}</p>
                  <a href="{{post.id}}" class="btn btn-primary">Read full post</a>
                </div>
              </div>
        </div>
  </div>
{% endfor %}

<!-- {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %} -->
{% endblock %}
