{% extends 'base_light.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}


{% for message in get_flashed_messages() %}
<center>
<div class="alert alert-warning alert-dismissible fade show mt-3 mx-3" role="alert" style="width:40%;">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</center>
{% endfor %}

<div class="d-grid gap-1">
{% for post in posts %}
        <div class="p-2 text-white mx-5 mt-3">
            <div class="card bg-info-subtle text">
                <div class="card-body">
                  <h3 class="card-title">{{post[2]}}</h3>
                  
                  <a href="{{post[4]}}" class = "text-dark">By {{post[4]}}</a>

                    <!-- <div align = "right">
                      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <form>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Like (21)</label>
                          </div>
                        </form>
                      </button> 
                      <button type="button" class="btn btn-primary">Follow</button>
                    </div> -->


                  
                  <!-- <h6>{{post.id}}</h6> -->
                  <p class="card-text">{{post[3]}}</p>
                  <a href="{{post[0]}}_light" class="btn btn-info mb-2 text-dark opacity-50">Read full post</a>
                  <br>

                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-link text-dark">Upvote ({{post[5]}})</button>
                    <button type="button" class="btn btn-link text-dark">Downvote ({{post[6]}})</button>
                    
                  </div>



                </div>
              </div>
        </div>
        {% endfor %}
      </div>


<!-- {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %} -->
{% endblock %}
